.card {
    width: 92%;
    box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.2);
    background: #ffff;
    border-radius: 12px;
    padding: 16px;
    margin-bottom:12px;
}

.card-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.require {
    position: absolute;
    left: -8px;
    top: 10px;
    color: red;
    font-size: 20px;
}


.red-ui-editor {
    .card{
        input[readonly]{
            cursor: pointer !important;;
            background-color: #fff;
            color:#606266;
        }
    }
}
